<div class="container">
  <div class="new-task-container">
    <input
      class="new-task-text"
      id="newTask"
      placeholder="Enter your task"
      [(ngModel)]="newTask"
    />
    <div class="new-task-add-btn" (click)="addNewTask()">Add +</div>
  </div>

  <div class="task-list-container">
    <div *ngFor="let task of taskList" class="task-list-card">
      <div class="task-name" *ngIf="!task.isEditMode; else editableTemplate">
        {{ task.name }}
      </div>
      <ng-template #editableTemplate>
        <input class="task-name" id="newTask" [(ngModel)]="task.name" />
      </ng-template>
      <!-- <div class="task-name">
          {{ task.description }}
        </div> -->

      <div class="task-edit-btn" (click)="editTask(task)">
        {{ !task.isEditMode ? "Edit" : "Save" }}
      </div>
      <div class="task-delete-btn" (click)="deleteTask(task)">Delete</div>
    </div>
  </div>
</div>
